data_V1/
data_V2/
README.md
__pycache__/
.DS_Store
.venv/
venv/
env/
#dot_env.txt

*.BIN
*.xlsx
Device_documents/
OldScripts/
*logs/
*outputs/
.env

# Database files (SQLite)
*.db
*.db-journal
*.sqlite
*.sqlite3


V1/

GP_visualizations/
data/
V2/docs/
hole_location_optimization/